html {
	font-size: 62.5%;
}
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
:root {
	--primary-color: #2fb3ce;
	--header-background: #D7D9CE;

	//media
	--media-1200: 75em;
	--media-1024: 64em;
}

button {
	font: inherit;
}

h1 {
	font-size: 6.4rem;
}

p {
	font-size: 1.6rem;
}